$white: #ffffff;
$black: #000000;
$red:#ec4c4c;
$light-blue: #7acec3;
$blue: #00bfd6;
$green: #109A45;
$yellow: #ebb240;
$light-orange:#ff9b6d;
$gray_dark: #b3b3b3;
$footer-color:#2d2d2d;
$border-color: #aeaeae;
$search-bg:#f1f1f1;
$box-shadow: #455B63;
$title-shadow: #ececec;
$gray_bg: #ECECEC;
$font_color: $gray_dark;
$fonts_title: #4c4c4c;
$font_color_gray_light: #D1D1D1;
$font-gray_light: #D1D1D1;
$gray_dots: #707070;
$active_dots: rgb(172, 171, 171);

$border_radius: 1rem;
$rem_size: 62.5%;
$max_width_value: 120rem;